body {
	background-color: #00b0b3;
	font-family: "Chalkduster", fantasy, serif;
	color: white;

}

header {
	background-color: #5cd6d2;
	width: 100%;
	height: 100%;
	margin: auto;
	margin-top: 0px;
	padding-top: 20px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.5em;
	word-spacing: : 2em;
}

button {
	color: black;
}

input {
	color: black;
}

#gameBoard {
	border-width: 2px;
	border-color: white;
	border-style: ridge;
}

.tile {
	background-color: #4d4d4d;
	display: block;
	height: 100px;
	box-sizing: border-box;
	border: 1px ridge lightgrey;
	padding: 20px;
	line-height: 1em;
	text-align: center;
	font-weight: bold;
	font-size: 5em;
}

.tile:hover {
	border-color: white;
	border-width: 3px;

}


.playerForm h2 {
	font-size: 1em;
}

.playerForm {
	margin-left: 20px;
}

.playerForm input:hover {
	border-color: blue;
	border-width: 2px;

}

.playerForm button {
	margin-top: 10px;
	border-radius: 10px;
}

.playerCard {
	font-family: "Chalkduster", fantasy, "Times New Roman", serif;
	border-style: inset;
	padding: 5px;
}

.playerCard h2 {
	color: mediumvioletred;
	font-size: 2rem;
}

.playerCard h3 {
	margin: 0px;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.1em;
	color: lightgreen;
}

.score {
	color: gold;
}

#turnDisplay {
	text-align: center;
	padding-bottom: 0px;
}

#winDisplay {
	display: none;
}

#player1Card {
	display: none;
}

#player2Card {
	display: none;
}

#startButton {
	display: block;
	visibility: hidden;
	height: 3em;
	width: 100%;
	border-radius: 10px;
}

#restartButton {
	display: none;
	visibility: hidden;
	height: 3em;
	width: 100%;
	border-radius: 10px;
}

@keyframes scoreEmphasis {
	from {
		color: gold;
	}
	to {
		left: 10px;
		color: lightyellow;
	}
}

.emphasis {
	z-index: 2;
	position: relative;
	animation-name: scoreEmphasis;
	animation-duration: 0.2s;
	animation-iteration-count: 10;
}