

header {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 2em;
	font-family: fantasy, "Times New Roman", serif;
	font-weight: bold;
	letter-spacing: 0.5em;
	word-spacing: : 2em;
}

.tile {
	background-color: beige;
	display: block;
	height: 100px;
	box-sizing: border-box;
	border: 1px solid black;
	padding: 20px;
	line-height: 1em;
	text-align: center;
	font-weight: bold;
	font-size: 5em;
}

.tile:hover {
	border-color: blue;
	border-width: 3px;

}

.playerForm {
	font-family: fantasy, "Times New Roman", serif;
}

.playerForm h2 {
	font-size: 1em;
}

.playerForm {
	margin-left: 20px;
}

.playerForm input:hover {
	border-color: blue;
	border-width: 2px;

}

.playerForm button {
	margin-top: 10px;
	border-radius: 10px;
}

.playerCard {
	font-family: fantasy, "Times New Roman", serif;
	border-style: inset;
	padding: 5px;
}

.playerCard h2 {
	font-color: rgba(100, 100, 100, 0.5);
	font-size: 2rem;
}

.playerCard h3 {
	margin: 0px;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.1em;
}

#turnDisplay {
	text-align: center;
	padding-bottom: 0px;
}

#winDisplay {
	display: none;
}

#player1Card {
	display: none;
}

#player2Card {
	display: none;
}

#startButton {
	display: block;
	visibility: hidden;
	height: 3em;
	width: 100%;
	border-radius: 10px;
}

#restartButton {
	display: none;
	visibility: hidden;
	height: 3em;
	width: 100%;
	border-radius: 10px;
}